<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get Fitness Workouts, Gyms, Health Care, &amp; Healthy Food in India by Cult.fit</title>
        <link rel="stylesheet" href="/static/profile/profile.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>

    <body>

        <!-- navbar -->
        <nav class="navbar sticky-top">
            <div class=" container-fluid">
                <!-- logo -->
                <div id="leftImg">
                    <a href="/home"><img src="https://static.cure.fit/assets/images/curefit-v-man.svg"
                        alt="cure.fit is an integrated platform for food, fitness and meditation" loading="lazy"></a>
                </div>

                <!-- middle options -->
                <div2>
                    <ul>
                        <li onclick="goToCult()"><a><img alt="LIVE"
                                    src="https://static.cure.fit/assets/images/Livefit.svg">
                                <div>LIVE</div>
                            </a></li>
                        <li><a onclick="goToCult()"><img alt="CULT"
                                    src="https://static.cure.fit/assets/images/cult-icon.svg">
                                <div>CULT</div>
                            </a></li>
                        <li><a onclick="goToCult()"><img alt="MIND"
                                    src="https://static.cure.fit/assets/images/mind-icon.svg">
                                <div>MIND</div>
                            </a></li>
                        <li><a onclick="goToCult()"><img alt="CARE"
                                    src="https://static.cure.fit/assets/images/carefit-blk.svg">
                                <div>CARE</div>
                            </a></li>
                        <li><a onclick="goingToStorePage()"><img alt="STORE"
                                    src="https://static.cure.fit/assets/images/store-icon.svg">
                                <div>STORE</div>
                            </a></li>
                    </ul>
                </div2>

                <!-- right side options -->
                <div3>

                    <!-- cart -->
                    <div-3 class="rhsNav" onclick="cart()"><img
                            src="https://static.cure.fit/assets/images/cart-image.svg" alt="cart-image" loading="lazy">
                    </div-3>

                    <!-- login -->
                    <div-2 class="rhsNav" id="popUpBtn">
                        <img src="https://static.cure.fit/assets/images/user-image.svg">
                        <div class="login-text">Login</div>
                    </div-2>



                </div3>
            </div>
        </nav>
        <br>
        <br>
        <br>

        <div id="cont">
            <div id="cont1">
                <div id="details">
                    <image id="prof" src="https://static.cure.fit/assets/images/user-default.png"></image>
                    <div id="name">
                        <span>Nikhil</span>
                        <p>VIEW PROFILE</p>
                    </div>
                </div>
                <div id="items">
                    <div id="item1">
                        <span>Orders</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/cart-black.svg"></image>
                    </div>
                    <div id="item1">
                        <span>Medical Records</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/health-profile-black.svg">
                        </image>
                    </div>
                    <div id="item1">
                        <span>Active Packs and Subscription</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/combined-shape-black.svg">
                        </image>
                    </div>
                    <div id="item1">
                        <span>Redeem Voucher</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/coupon-black.svg"></image>
                    </div>
                    <div id="item1">
                        <span>Account</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/settings-black.svg"></image>
                    </div>
                    <div id="item1">
                        <span>Support</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/support-black.svg"></image>
                    </div>
                    <div id="item1">
                        <span>Logout</span>
                        <image id="cartimg" src="https://static.cure.fit/assets/images/logout-black.svg"></image>
                    </div>
                </div>
            </div>
            <div id="cont2">
                <image id="img2" src="https://static.cure.fit/assets/images/user-default.png"></image>
                <p>PROFILE</p>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <span>NAME</span>
                            <div class="input-group">
                                <input type="text" class="form-control border-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <hr>
                            <span>GENDER</span>
                            <div id="malefema">
                                <image onclick="male()" id="maleImg" class="gender male"
                                    src="https://static.cure.fit/assets/images/male-inactive.svg">
                                </image>
                                <div id="vertline"></div>
                                <image onclick="female()" id="femaleImg" class="gender"
                                    src="https://static.cure.fit/assets/images/female-inactive.svg">
                                </image>
                            </div>
                            <p id='gender'></p>
                            <hr id="hr2">
                            <span>EMAIL</span>
                            <div class="input-group">
                                <input type="email" class="form-control border-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <hr>

                        </div>
                        <div class="col-6">
                            <span>PHONE NUMBER</span>
                            <div class="input-group">
                                <input type="number" class="form-control border-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <hr>
                            <span>DATE OF BIRTH</span>
                            <div class="input-group">
                                <input type="date" class="form-control border-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <hr>
                            <span>WORK EMAIL</span>
                            <div class="input-group">
                                <input type="email" class="form-control border-0" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div id="google">
                    <image class="glogo" src="https://static.cure.fit/assets/images/google-new.svg"></image>
                    <span class="text">Link Google</span>
                </div>
                <div id="fb">
                    <image class="glogo" src="https://static.cure.fit/assets/images/facebook-new.svg"></image>
                    <span class="text">Link Facebook</span>
                </div>
            </div>




    </body>
    <script src="/static/profile/profile.js"></script>
    <!-- <script>

        window.onscroll = function ()
        {

            if ( window.pageYOffset >= sticky )
            {
                navbar.setAttribute( "class", "sticky" )
            }

        };
        var navbar = document.getElementById( "navBlock" );
        var sticky = navbar.offsetTop;

        // function goToHome()
        // {

        //     window.location.href = "../home.html"

        // }
    </script> -->

</html>
